# Outils de dev locaux de la plateforme (SpecKit + opencode)
# backup dans devopsforge-profile
.opencode/
.specify/
.repo_git_dummy/*

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# OS
.DS_Store
